<! doctype html>

<html>

<head> <! for title>

<title> Hackathon 2020 Student Side </title>

</head>

<body>
<h1> Welcome to Peer Teacher Central
<br> Please Sign In Below </h1> 


<form action="" method="">
First Name: <input type="text" first_name="">

<br>
Class:
<form action="" method="">
<input type = "text" name="">

</form>

<br>

<p> Welcome to the Fish Website. Everything you want to know about fish is in this website. </p>

	<!br empty element doesn't need to be close>
	<! ul unordered list: bullets, ol ordered list: numbers>
	<! li % list input>
	<! &nbsp for spaces>
{% if student_tickets %}
    <ul>
    {% for tickets in student_tickets %}
        <li><a href="/tickets/"></a>{{ tickets.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}