<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <style>
    body{ text-align: center; background-color: #D5DBDB;}
    form{display: inline-block;}
    h1 {color: #500000;}


  </style>  
</head>

<br><br><br>
    <h1>
       Form Submitted!
    </h1>
    <h2>
    Please wait for Peer Teacher
    </h2>
    
</html>