<! doctype html>

<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <style>
    body{ background-color: #D5DBDB;}
    form{display: inline-block;}
    h1 {text-align: center;color: #500000;}
    h2{text-align: center;}
    h3{text-align: center;}
    

  </style> 
  
  

 
</head>


<title> Hackathon 2020 Peer Teacher Side </title>



<body>
<h1> <br> Welcome to Peer Teacher Central <br> </h1>

<h2> These students need help: </h2> 
<br>
{% if student_tickets %}
   <h3>
    <ul style="list-style-type:none;">
    {% for t in student_tickets %}
    <li><a href="{% url 'views-teachers' t.id %}">{{ t.name }} {{ t.course }}</a></li>
    {% endfor %}
    </ul>
    </h3>
{% else %}
    <p>No students are available.</p>
{% endif %} 
</body>

</html>